{
  "harvestAuthToken": "harvestAuthTokenExample",
  "harvestApiUrl": "https://api.harvestapp.com/api/v2",
  "harvestAccountId": 123456,
  "infaktApiUrl": "https://api.infakt.pl/v3",
  "infaktApiKey": "infaktApiKey123"
}
